{% extends 'homebase.html.twig' %}


{% set name = 'Cars' %}
{% block title %}{{ name }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block body %}
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>{{ name }}</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include('user/menu.html.twig') %}
                </div>
                <div class="col-lg-9">

                    {{ include('admin/user/_form.html.twig') }}


                    <br><a href="{{ path('user_car_index') }}"><button class="btn btn-dark"><i class="ik ik-arrow-left"></i>back to list</button></a>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
