{{ form_start(form) }}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% if flag == 1 %}
    {{ form_widget(form.rate) }}
    <div class="message-input">
        {{ form_widget(form.comment) }}
    </div>

    <div class="input-submit">
        <button class="">{{ button_label|default('Submit') }}</button>
        <button type="reset">Clear</button>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% else %}
    {{ form_widget(form) }}
    <button class="btn btn-dark"><i class="ik ik-save"></i>{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endif %}
