{% extends 'adminbase.html.twig' %}

{% set name = 'Comment Index' %}
{% block title %}{{ name }}{% endblock %}
{% block nav %}Comment{% endblock %}
{% block sub_nav %}{{ name }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><h1>{{ name }}</h1></div>
    <div class="card-body">
        <a href="{{ path('admin_comment_new') }}"><button class="btn btn-info"><i class="ik ik-share"></i>Create new</button></a><br><br>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Car</th>
                <th>User</th>
                <th>Rate</th>
                <th>Status</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment | striptags | slice(0, 30)}}</td>
                <td>{{ comment.title }}</td>
                <td><a href="/user/{{ comment.userid }}" style="text-decoration: underline;">{{ comment.name }} {{ comment.lastname }}</a></td>
                <td>
                    {% for i in 1..5 %}
                        {% if i <= comment.rate %}
                            <i class="fa fa-star" style="color:#ffd000;font-size: 20px;"></i>
                        {% else %}
                            <i class="fa fa-star unmark" style="color:#ddd;font-size:20px;"></i>
                        {% endif %}
                    {% endfor %}
                </td>




                <td>{{ comment.status ? "<label class='badge badge-success'>True</label>" : "<label class='badge badge-danger'>False</label>" }}</td>

                <td>
                    <div class="table-actions" style="text-align:left;">
                        <a href="{{ path('admin_comment_show', {'id': comment.id}) }}"><i class="ik ik-eye text-blue"></i></a>
                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}"><i class="ik ik-edit-2 text-green"></i></a>
                        <a>{{ include('admin/comment/_delete_form.html.twig', {'style': 'ik ik-edit f-16 mr-15 text-green'}) }}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
