{% extends 'adminbase.html.twig' %}

{% set name = 'Category Index' %}
{% block title %}{{ name }}{% endblock %}
{% block nav %}Category{% endblock %}
{% block sub_nav %}{{ name }}{% endblock %}
{% block body %}

    <div class="card">
        <div class="card-header"><h1>{{ name }}</h1></div>
        <div class="card-body">
            <a href="{{ path('admin_category_new') }}"><button class="btn btn-info"><i class="ik ik-share"></i>Create new</button></a><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.status ? "<label class='badge badge-success'>True</label>" : "<label class='badge badge-danger'>False</label>" }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="table-actions" style="text-align:left;">
                        <a href="{{ path('admin_category_show', {'id': category.id}) }}"><i class="ik ik-eye text-blue"></i></a>
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}"><i class="ik ik-edit-2 text-green"></i></a>

                        <a>{{ include('admin/category/_delete_form.html.twig', {'style': 'ik ik-edit f-16 mr-15 text-green'}) }}</a>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div></div>

{% endblock %}
